.content {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    padding: 10px;
    gap: 15px;
    width: 100%;
}

@media (max-width:768px) {
    .content {
        justify-content: center;
    }

    
}